footer.footer#contacts
	.container
		.footer__content
			.footer__address
				.footer__address-icon
					img(src="images/i_loc2.png" alt="address")
				.footer__address-list
					.footer__address-item
						.footer__address-title Наш офис в Москве:
						.footer__address-text ул. Автозаводская, д. 23А, к.2, оф. 406
					.footer__address-item
						.footer__address-title Наш офис в Вологде:
						.footer__address-text ул. Козленская, д. 115, оф. 6
			.footer__social
				.footer__social-icon
				.footer__social-content
					.footer__social-title Мы в соцсетях:
					.footer__social-list
						.footer__social-item
							a(href="" target="_blank" rel="nofollow")
								img(src="images/soc_insta.png" alt="instagram")
						.footer__social-item
							a(href="" target="_blank" rel="nofollow")
								img(src="images/soc_teleg.png" alt="telegram")
						.footer__social-item
							a(href="" target="_blank" rel="nofollow")
								img(src="images/soc_wa.png" alt="whatsapp")

.to-top