extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	.s1
		.s1__bg
		.container
			header.header.s1__header
				.header__content
					.header__top
						.header__left
							.header__logo
								img(src="images/logo.png" alt="logo")
						.header__right
							.header__info
								.header__info-item
									.header__info-img
										img(src="images/i_loc.png" alt="address")
									.header__info-text Москва
								.header__info-item
									.header__info-img
										img(src="images/i_phone.png" alt="phone")
									.header__info-text +7 921 827-77-75
							.header__menu
								.header__burger.js-open-menu
								.header__mainmenu.mainmenu
									.mainmenu__item
										a(href="#steps") Этапы
									.mainmenu__item
										a(href="#team") Команда
									.mainmenu__item
										a(href="#calculation") Калькулятор
									.mainmenu__item
										a(href="#contacts") Контакты

			h1.s1__title Оптимальное решение <br>финансовых <br>проблем
			.s1__person
				.s1__person-name Анастасия Калясина
				.s1__person-staf арбитражный управляющий

			.s1__content
				h3.s1__content-title Что же делать если?
				.s1__content-text
					p Растут долги, копятся просрочки, звонят коллекторы — это не лучший фундамент для планирования будущего.
					p К счастью, такие ситуации решаются.
					p Избавиться от многих видов задолженности законным способом позволяет Федеральный закон «О несостоятельности (банкротстве)» от 26.10.2002 № 127.
					p Наши юристы помогают людям, которые оказались в сложной финансовой ситуации. Мы прорабатываем траекторию решения для каждого клиента, опираясь на собственный обширный опыт, и добиваемся списания <br>долгов через суд.


	.s2
		.container
			.s2__flex
				.s2__left
					h3.s2__title Долги, подлежащие списанию через процедуру банкротства:
					.s2__items
						.s2__item
							.s2__item-title Займы
							.s2__item-text любые кредиты и кредитные карты, <br>ипотечные займы, <br>микрозаймы
							.s2__item-img
								img(src="images/dolg_1.png")
						.s2__item
							.s2__item-title Задолженности
							.s2__item-text по распискам или коммунальным <br>платежам
							.s2__item-img
								img(src="images/dolg_2.png")
						.s2__item
							.s2__item-title Поручительства
							.s2__item-text по кредитам третьих <br>лиц
							.s2__item-img
								img(src="images/dolg_3.png")
						.s2__item
							.s2__item-title Штрафы и пени
							.s2__item-text начисленные в результате  <br>несвоевременного <br>погашения <br> кредита
							.s2__item-img
								img(src="images/dolg_4.png")
				.s2__right
					.s2__big
						img(src="images/dolg_bg.png")
					.s2__bottom
						a.s2__btn(href="" target="_blank" rel="nofollow") Написать в Whatsapp


	.s3#steps
		.container
			h3.s3__title Этапы процедуры
			.s3__items
				.s3__item
					.s3__item-inner
						.s3__item-top
							.s3__item-number 1
							.s3__item-title Консультация, анализ ситуации
						.s3__item-text Юрист общается с вами в нашем офисе или по телефо&shy;ну, чтобы на начальном этапе определить наличие всех не&shy;обходимых условий для при&shy;знания вас банкротом
				.s3__item
					.s3__item-inner
						.s3__item-top
							.s3__item-number 2
							.s3__item-title Подготовка и подача документов в суд
						.s3__item-text Список документов, обяза&shy;тельных к заявлению на бан&shy;кротство, определен законом. В нём может быть более 20 документов в зависимости от ситуации.
				.s3__item
					.s3__item-inner
						.s3__item-top
							.s3__item-number 3
							.s3__item-title Представительство в судебном процессе
						.s3__item-text Через 2-3 месяца после подачи заявления состоится судебное заседание, на нем суд рассмотрит его обосно&shy;ванность и вас объявят бан&shy;кротом.
				.s3__item
					.s3__item-inner
						.s3__item-top
							.s3__item-number 4
							.s3__item-title Списание долга. Разблокировка счетов.
						.s3__item-text После всех этих процедур вы освобождаетесь от выплаты долгов.


	.s4
		.container
			h3.s4__title Почему с нами просто
			.s4__items
				.s4__item
					.s4__item-inner
						.s4__item-icon
							img(src="images/why_1.png")
						.s4__item-text Делаем полный анализ финансового состояния и разрабатываем стратегию решения вашей проблемы.
				.s4__item
					.s4__item-inner
						.s4__item-icon
							img(src="images/why_2.png")
						.s4__item-text Работаем «под ключ». Берем на себя все юридические аспекты процедуры банкротства от старта до завершения.
				.s4__item
					.s4__item-inner
						.s4__item-icon
							img(src="images/why_3.png")
						.s4__item-text Предоставляем рассрочку платежа на срок до 6 месяцев, чтобы начать проце&shy;дуру уже сегодня.
				.s4__item
					.s4__item-inner
						.s4__item-icon
							img(src="images/why_4.png")
						.s4__item-text Прикрепляем персонального юриста, который сопровождает в течение всей процедуры.
				.s4__item
					.s4__item-inner
						.s4__item-icon
							img(src="images/why_5.png")
						.s4__item-text Работаем в любом регионе России, в том числе и удаленно. Ориентируйтесь на формат, который комфортен для вас.
				.s4__item
					.s4__item-inner
						.s4__item-icon
							img(src="images/why_6.png")
						.s4__item-text Имеем более 200 успешно завершенных кейсов по банкротству физических и юридических лиц.

			.s4__ball.s4__ball--1.ball
			.s4__ball.s4__ball--2.ball
			.s4__ball.s4__ball--3.ball


	.s5
		.container
			h3.s5__title
				span Как банкротство повлияет на вашу жизнь:
			.s5__items
				.s5__item
					.s5__item-top
						.s5__item-icon
						.s5__item-title Списание долгов
					.s5__item-text После завершения процедуры банкротства, гражданин освобождается от дальнейшего исполнения требований кредиторов. (ФЗ-127, ст. 213.28 п. 3)
				.s5__item
					.s5__item-top
						.s5__item-icon
						.s5__item-title Спокойствие
					.s5__item-text Со дня признания гражданина банкротом, коллекторскими агентствами и службами взыскания, непосредственное взаимодействие с должником НЕ допускается. (ФЗ-230, ст. 7, п. 2)
				.s5__item
					.s5__item-top
						.s5__item-icon
						.s5__item-title Свобода
					.s5__item-text Судебные приставы с момента признания банкротом оканчивают исполнительные производства, взыскания, снимают все наложенные ограничения и аресты, в том числе арест на заработную плату и запрет на выезд за границу.  (ФЗ-229, ст. 69.1, п. 1, 2)
				.s5__item
					.s5__item-top
						.s5__item-icon
						.s5__item-title Неприкосновенность жилья
					.s5__item-text Взыскание не может быть обращено на жилое помещение, если оно единственное для гражданина-должника и членов его семьи, совместно проживающих в принадлежащем помещении. (ФЗ-127, п. 3 ст. 213.25, ст. 446 ГК РФ)
			.s5__check


	.s6
		.container
			h3.s6__title
				span После процедуры:
			.s6__items
				.s6__item
					.s6__item-icon
					.s6__item-text Необходимо указывать факт банкротства при <br>получении кредита — 5 лет
				.s6__item
					.s6__item-icon
					.s6__item-text Нельзя повторно проходить процедуру <br>банкротства — 5 лет
				.s6__item
					.s6__item-icon
					.s6__item-text Нельзя занимать должность директора юридического <br>лица или входить в совет директоров — 3 года

			.s6__cross

	.s7#team
		.container
			h3.s7__title С вашей ситуацией работают
			.s7__items
				.s7__item
					.s7__item-img
						img(src="images/team_1.jpg")
					.s7__item-content
						.s7__item-name Калясина Анастасия Олеговна
						.s7__item-staf арбитражный управляющий
						a.s7__item-tel(href="tel:") +7-921-827-77-75
				.s7__item
					.s7__item-img
						img(src="images/team_2.jpg")
					.s7__item-content
						.s7__item-name Бельченко Яна Андреевна
						.s7__item-staf ведущий юрист
						a.s7__item-tel(href="tel:") +7-981-501-92-77
				.s7__item
					.s7__item-img
						img(src="images/team_3.jpg")
					.s7__item-content
						.s7__item-name Швецова Людмила Сергеевна
						.s7__item-staf главный бухгалтер
						a.s7__item-tel(href="tel:") +7-911-503-18-41

	.s8#calculation
		.container
			.s8__flex
				.s8__block
					.s8__block-inner
						.s8__block-title Рассчитайте стоимость <br>услуг
						.s8__block-content
							.quiz
								.quiz__step.active
									.quiz__title Количество кредиторов?
									.quiz__list
										label.quiz__radio
											input(type="radio" name="step1" value="1" required)
											.quiz__radio-icon
											.quiz__radio-label от 2-ух до 3-ёх
										label.quiz__radio
											input(type="radio" name="step1" value="2" required)
											.quiz__radio-icon
											.quiz__radio-label от 3-ёх до 5-ти
										label.quiz__radio
											input(type="radio" name="step1" value="3" required)
											.quiz__radio-icon
											.quiz__radio-label от 5-ти до 10-ти
								.quiz__step
									.quiz__title Сумма вашего долга?
									.quiz__list
										label.quiz__radio
											input(type="radio" name="step2" value="1" required)
											.quiz__radio-icon
											.quiz__radio-label до 1 млн.
										label.quiz__radio
											input(type="radio" name="step2" value="2" required)
											.quiz__radio-icon
											.quiz__radio-label от 1 млн до  3 млн
										label.quiz__radio
											input(type="radio" name="step2" value="3" required)
											.quiz__radio-icon
											.quiz__radio-label больше 3 млн
								.quiz__step
									.quiz__title Есть ли имущество у вас и у супруга/супруги?
									.quiz__list
										label.quiz__radio
											input(type="radio" name="step3" value="1" required)
											.quiz__radio-icon
											.quiz__radio-label Да
										label.quiz__radio
											input(type="radio" name="step3" value="2" required)
											.quiz__radio-icon
											.quiz__radio-label Нет
								.quiz__step
									.quiz__title Были ли у вас (у супруга/супруги) сделки с имуществом за последние три года?
									.quiz__list
										label.quiz__radio
											input(type="radio" name="step4" value="1" required)
											.quiz__radio-icon
											.quiz__radio-label Да
										label.quiz__radio
											input(type="radio" name="step4" value="2" required)
											.quiz__radio-icon
											.quiz__radio-label Нет
								.quiz__result
									.quiz__result-title Стоимость вашей процедуры составит:
									.quiz__result-sum 130 000 рублей
									.quiz__result-text Получите <strong>10 % скидку</strong> на стоимость услуг при заключении договора сегодня. <br>Оставьте свои данные и <br>специалист с Вами <br>свяжется.
								.quiz__button
									button

				.s8__block
					.s8__block-inner
						.s8__block-title Нужно решить проблему <br>с долгами?
						.s8__block-content
							form.form
								.form__input
									input(type="text" name="name"  required)
									.form__input-placeholder Имя
								.form__input
									input(type="email" name="email"  required)
									.form__input-placeholder Эл. почта
								.form__input
									input(type="tel" name="phone"  required)
									.form__input-placeholder Ваш телефон

								.form__row
									button.form__button(type="submit") ОТПРАВИТЬ ЗАЯВКУ

							.s8__block-succes Заявка отправлена


			.s8__ball.s8__ball--1.ball
			.s8__ball.s8__ball--2.ball
