/* media */
$media-list: (
	'xxs': 375,
	'xs': 560,
	'sm': 767,
	'md': 1100,
	'lg': 1379,
	'xl': 1919,
	'xxl': 2559
);

/* шрифты */
$mainFont: 'DIN Pro Cond', sans-serif;

/* цвета */
$textMainColor: #37455b;
$green: #EAF6E1;
$greenBtn: #aadc89;
$greenBtn2: #89b56d;
$blue: #354961;